
USE [mantenimiento2]
GO
/****** Object:  Table [dbo].[archivos]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[archivos](
	[file_id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [varchar](50) NULL,
	[file_ext] [varchar](10) NULL,
	[file] [varbinary](max) NULL,
	[file_coment] [varchar](max) NULL,
	[inc_id] [int] NULL,
 CONSTRAINT [PK_archivos] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estado]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estado](
	[estado_id] [int] IDENTITY(1,1) NOT NULL,
	[estado_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[inc_type]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inc_type](
	[ty_id] [int] IDENTITY(1,1) NOT NULL,
	[ty_name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[incidencia]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[incidencia](
	[inc_id] [int] IDENTITY(1,1) NOT NULL,
	[priority_id] [int] NULL,
	[ty_id] [int] NULL,
	[maq_id] [int] NULL,
	[s_date] [date] NULL,
	[f_date] [date] NULL,
	[s_user] [int] NULL,
	[f_user] [int] NULL,
	[coment] [varchar](max) NULL,
	[estado_id] [int] NULL,
	[p_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[inc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[maquina]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[maquina](
	[maq_id] [int] IDENTITY(1,1) NOT NULL,
	[maq_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maq_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[priority]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[priority](
	[priority_id] [int] IDENTITY(1,1) NOT NULL,
	[priority_name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[priority_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[roll]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[roll](
	[roll_id] [int] IDENTITY(1,1) NOT NULL,
	[roll_name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[roll_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tecnicos]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tecnicos](
	[tec_id] [int] IDENTITY(1,1) NOT NULL,
	[inc_id] [int] NULL,
	[users_id] [int] NULL,
 CONSTRAINT [PK_tecnicos] PRIMARY KEY CLUSTERED 
(
	[tec_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[users_id] [int] IDENTITY(1,1) NOT NULL,
	[users_name] [varchar](30) NULL,
	[users_fname] [varchar](30) NULL,
	[users_lname] [varchar](30) NULL,
	[users_alias] [varchar](30) NULL,
	[roll_id] [int] NULL,
	[act] [bit] NULL,
	[users_pass] [binary](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[users_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[esperatime]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[esperatime]
AS
SELECT        1 AS [key], RIGHT('00' + CONVERT(varchar(8), SUM(DATEDIFF(second, s_date, p_date)) / COUNT(*) / 3600), 2) + ':' + CONVERT(varchar(5), SUM(DATEDIFF(ss, s_date, p_date)) / COUNT(*) % 3600 / 60) 
                         + ':' + CONVERT(varchar(5), SUM(DATEDIFF(ss, s_date, p_date)) / COUNT(*) % 60) AS media
FROM            dbo.incidencia
WHERE        (estado_id = 2)

GO
/****** Object:  View [dbo].[incidencia_list]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[incidencia_list]
AS
SELECT        dbo.incidencia.inc_id, dbo.priority.priority_name, dbo.inc_type.ty_name, dbo.maquina.maq_name, dbo.incidencia.s_date, dbo.incidencia.f_date, dbo.incidencia.coment, dbo.estado.estado_name, 
                         dbo.users.users_name, dbo.users.users_fname, users_1.users_name AS usersf_name, users_1.users_fname AS usersf_fname
FROM            dbo.incidencia INNER JOIN
                         dbo.inc_type ON dbo.incidencia.ty_id = dbo.inc_type.ty_id INNER JOIN
                         dbo.maquina ON dbo.incidencia.maq_id = dbo.maquina.maq_id INNER JOIN
                         dbo.priority ON dbo.incidencia.priority_id = dbo.priority.priority_id INNER JOIN
                         dbo.users ON dbo.incidencia.s_user = dbo.users.users_id AND dbo.incidencia.s_user = dbo.users.users_id INNER JOIN
                         dbo.estado ON dbo.incidencia.estado_id = dbo.estado.estado_id LEFT OUTER JOIN
                         dbo.users AS users_1 ON dbo.incidencia.f_user = users_1.users_id

GO
/****** Object:  View [dbo].[reparacionTime]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[reparacionTime]
AS
SELECT        1 AS [key], CONVERT(varchar(5), SUM(DATEDIFF(s, p_date, f_date)) / COUNT(*) / 3600) + ':' + CONVERT(varchar(5), SUM(DATEDIFF(s, p_date, f_date)) / COUNT(*) % 3600 / 60) + ':' + CONVERT(varchar(5), 
                         SUM(DATEDIFF(s, p_date, f_date)) / COUNT(*) % 60) AS media
FROM            dbo.incidencia
WHERE        (estado_id = 3)

GO
/****** Object:  View [dbo].[totalTime]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[totalTime]
AS
SELECT        1 AS [key], CONVERT(varchar(5), SUM(DATEDIFF(s, s_date, f_date)) / COUNT(*) / 3600) + ':' + CONVERT(varchar(5), SUM(DATEDIFF(s, s_date, f_date)) / COUNT(*) % 3600 / 60) + ':' + CONVERT(varchar(5), 
                         SUM(DATEDIFF(s, s_date, f_date)) / COUNT(*) % 60) AS media
FROM            dbo.incidencia
WHERE        (estado_id = 3)

GO
/****** Object:  View [dbo].[users_list]    Script Date: 12/10/2015 3:58:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[users_list]
AS
SELECT        dbo.users.users_id, dbo.users.users_name, dbo.users.users_fname, dbo.users.users_lname, dbo.users.users_alias, dbo.roll.roll_name, dbo.users.act
FROM            dbo.roll INNER JOIN
                         dbo.users ON dbo.roll.roll_id = dbo.users.roll_id

GO
SET IDENTITY_INSERT [dbo].[archivos] ON 

SET IDENTITY_INSERT [dbo].[archivos] OFF
SET IDENTITY_INSERT [dbo].[estado] ON 

INSERT [dbo].[estado] ([estado_id], [estado_name]) VALUES (1, N'En espera...')
INSERT [dbo].[estado] ([estado_id], [estado_name]) VALUES (2, N'En proceso...')
INSERT [dbo].[estado] ([estado_id], [estado_name]) VALUES (3, N'Reparado')
SET IDENTITY_INSERT [dbo].[estado] OFF
SET IDENTITY_INSERT [dbo].[inc_type] ON 

INSERT [dbo].[inc_type] ([ty_id], [ty_name]) VALUES (1, N'electrica')
INSERT [dbo].[inc_type] ([ty_id], [ty_name]) VALUES (2, N'mecanica')
INSERT [dbo].[inc_type] ([ty_id], [ty_name]) VALUES (3, N'otros')
SET IDENTITY_INSERT [dbo].[inc_type] OFF
SET IDENTITY_INSERT [dbo].[incidencia] ON 

INSERT [dbo].[incidencia] ([inc_id], [priority_id], [ty_id], [maq_id], [s_date], [f_date], [s_user], [f_user], [coment], [estado_id], [p_date]) VALUES (1028, 1, 2, 1, CAST(N'2015-09-12' AS Date), CAST(N'2015-09-12' AS Date), 1028, 1028, N'xzcvzvz', 3, CAST(N'2015-09-12' AS Date))
INSERT [dbo].[incidencia] ([inc_id], [priority_id], [ty_id], [maq_id], [s_date], [f_date], [s_user], [f_user], [coment], [estado_id], [p_date]) VALUES (1029, 2, 2, 5, CAST(N'2015-09-12' AS Date), CAST(N'2015-10-01' AS Date), 1028, 1028, N'zxcvzxv', 3, CAST(N'2015-09-12' AS Date))
INSERT [dbo].[incidencia] ([inc_id], [priority_id], [ty_id], [maq_id], [s_date], [f_date], [s_user], [f_user], [coment], [estado_id], [p_date]) VALUES (1030, 3, 2, 2, CAST(N'2015-09-12' AS Date), CAST(N'2015-10-01' AS Date), 1028, 1028, N'jjj', 3, NULL)
SET IDENTITY_INSERT [dbo].[incidencia] OFF
SET IDENTITY_INSERT [dbo].[maquina] ON 

INSERT [dbo].[maquina] ([maq_id], [maq_name]) VALUES (1, N'ES001')
INSERT [dbo].[maquina] ([maq_id], [maq_name]) VALUES (2, N'ES002')
INSERT [dbo].[maquina] ([maq_id], [maq_name]) VALUES (3, N'ES003')
SET IDENTITY_INSERT [dbo].[maquina] OFF
SET IDENTITY_INSERT [dbo].[priority] ON 

INSERT [dbo].[priority] ([priority_id], [priority_name]) VALUES (1, N'alta')
INSERT [dbo].[priority] ([priority_id], [priority_name]) VALUES (2, N'media')
INSERT [dbo].[priority] ([priority_id], [priority_name]) VALUES (3, N'baja')
SET IDENTITY_INSERT [dbo].[priority] OFF
SET IDENTITY_INSERT [dbo].[roll] ON 

INSERT [dbo].[roll] ([roll_id], [roll_name]) VALUES (1, N'administrador')
INSERT [dbo].[roll] ([roll_id], [roll_name]) VALUES (2, N'mecanico')
INSERT [dbo].[roll] ([roll_id], [roll_name]) VALUES (3, N'electrico')
SET IDENTITY_INSERT [dbo].[roll] OFF
SET IDENTITY_INSERT [dbo].[tecnicos] ON 

INSERT [dbo].[tecnicos] ([tec_id], [inc_id], [users_id]) VALUES (2, 1028, 1028)
INSERT [dbo].[tecnicos] ([tec_id], [inc_id], [users_id]) VALUES (3, 1028, 1029)
INSERT [dbo].[tecnicos] ([tec_id], [inc_id], [users_id]) VALUES (4, 1029, 1029)
SET IDENTITY_INSERT [dbo].[tecnicos] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([users_id], [users_name], [users_fname], [users_lname], [users_alias], [roll_id], [act], [users_pass]) VALUES (1028, N'admin', N'admin', N'admin', N'admin', 1, 1, 0x21232F297A57A5A743894A0E4A801FC3)
INSERT [dbo].[users] ([users_id], [users_name], [users_fname], [users_lname], [users_alias], [roll_id], [act], [users_pass]) VALUES (1029, N'Rodrigo', N'Benito', N'Duque', N'rbenito', 1, 1, 0x7A678949710E6F26E708A3B2EBE97D10)
INSERT [dbo].[users] ([users_id], [users_name], [users_fname], [users_lname], [users_alias], [roll_id], [act], [users_pass]) VALUES (1030, N'Pedro', N'Duque', N'Sanchez', N'psanchez', 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[archivos]  WITH CHECK ADD  CONSTRAINT [FK_archivos_incidencia] FOREIGN KEY([inc_id])
REFERENCES [dbo].[incidencia] ([inc_id])
GO
ALTER TABLE [dbo].[archivos] CHECK CONSTRAINT [FK_archivos_incidencia]
GO
ALTER TABLE [dbo].[incidencia]  WITH CHECK ADD  CONSTRAINT [FK_incidencia_estado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estado] ([estado_id])
GO
ALTER TABLE [dbo].[incidencia] CHECK CONSTRAINT [FK_incidencia_estado]
GO
ALTER TABLE [dbo].[incidencia]  WITH CHECK ADD  CONSTRAINT [FK_incidencia_inc_type] FOREIGN KEY([ty_id])
REFERENCES [dbo].[inc_type] ([ty_id])
GO
ALTER TABLE [dbo].[incidencia] CHECK CONSTRAINT [FK_incidencia_inc_type]
GO
ALTER TABLE [dbo].[incidencia]  WITH CHECK ADD  CONSTRAINT [FK_incidencia_maquina] FOREIGN KEY([maq_id])
REFERENCES [dbo].[maquina] ([maq_id])
GO
ALTER TABLE [dbo].[incidencia] CHECK CONSTRAINT [FK_incidencia_maquina]
GO
ALTER TABLE [dbo].[incidencia]  WITH CHECK ADD  CONSTRAINT [FK_incidencia_priority] FOREIGN KEY([priority_id])
REFERENCES [dbo].[priority] ([priority_id])
GO
ALTER TABLE [dbo].[incidencia] CHECK CONSTRAINT [FK_incidencia_priority]
GO
ALTER TABLE [dbo].[incidencia]  WITH CHECK ADD  CONSTRAINT [FK_incidencia_users] FOREIGN KEY([s_user])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[incidencia] CHECK CONSTRAINT [FK_incidencia_users]
GO
ALTER TABLE [dbo].[incidencia]  WITH CHECK ADD  CONSTRAINT [FK_incidencia_users1] FOREIGN KEY([s_user])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[incidencia] CHECK CONSTRAINT [FK_incidencia_users1]
GO
ALTER TABLE [dbo].[incidencia]  WITH CHECK ADD  CONSTRAINT [FK_incidencia_users2] FOREIGN KEY([f_user])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[incidencia] CHECK CONSTRAINT [FK_incidencia_users2]
GO
ALTER TABLE [dbo].[tecnicos]  WITH CHECK ADD  CONSTRAINT [FK_tecnicos_incidencia] FOREIGN KEY([inc_id])
REFERENCES [dbo].[incidencia] ([inc_id])
GO
ALTER TABLE [dbo].[tecnicos] CHECK CONSTRAINT [FK_tecnicos_incidencia]
GO
ALTER TABLE [dbo].[tecnicos]  WITH CHECK ADD  CONSTRAINT [FK_tecnicos_users] FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[tecnicos] CHECK CONSTRAINT [FK_tecnicos_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roll1] FOREIGN KEY([roll_id])
REFERENCES [dbo].[roll] ([roll_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roll1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "incidencia"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'esperatime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'esperatime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[56] 4[28] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "incidencia"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 245
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "inc_type"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 102
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "maquina"
            Begin Extent = 
               Top = 111
               Left = 888
               Bottom = 207
               Right = 1058
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "priority"
            Begin Extent = 
               Top = 10
               Left = 887
               Bottom = 106
               Right = 1057
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "users"
            Begin Extent = 
               Top = 48
               Left = 29
               Bottom = 178
               Right = 200
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "estado"
            Begin Extent = 
               Top = 212
               Left = 688
               Bottom = 308
               Right = 858
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "users_1"
            Begin Extent = 
               Top = 205
               Left = 69
               Bottom = 335
               Right = 240
            End
            DisplayFlags = 2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'incidencia_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'80
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'incidencia_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'incidencia_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "incidencia"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'reparacionTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'reparacionTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "incidencia"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'totalTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'totalTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[33] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "roll"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "users"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 191
               Right = 417
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3450
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'users_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'users_list'
GO
USE [master]
GO
