
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/Login.css" rel="stylesheet">


</head>

<body id="login">

    <div class="container" id="VentanaLogin">

        <form class="form-signin" method="post" id="loginForm" novalidate>
            <h2 class="form-signin-heading">
                <img src="~/img/centinela.png" width="300" />
            </h2>
            <label for="user" class="sr-only"> User</label>
            <input type="text" id="user" name="user" class="form-control" placeholder="User" required autofocus >
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
            <p class="mensaje">@ViewBag.mensaje</p>
        </form>

    </div> <!-- /container -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/Validaciones/miValidacion.js"></script>
    <script src="~/Scripts/Validaciones/loginValidation.js"></script>
    <script src="~/Scripts/Validaciones/messages_es.js"></script>
</body>
</html>

